<app-header></app-header>
<div class="container mt-5">
  <div class="row justify-content-center align-items-center">
    <form [formGroup]="form">
      <div class="form-group">
        <h3 class="text-center">{{operator?.title}}</h3>
        <label for="formGroupPhone">Phone number</label>
        <input
          type="text"
          class="form-control"
          id="formGroupPhone" placeholder="+000000000"
          formControlName="phone"
          [ngClass]="{'form-control-error': form.get('phone').touched && form.get('phone').errors}"
        >
        <app-form-errors *ngIf="form.get('phone').touched && form.get('phone').errors" field="phone" [errors]="form.get('phone').errors"></app-form-errors>
      </div>
      <div class="form-group">
        <label for="formGroupExampleInput">Amoun</label>
        <input
          type="text"
          class="form-control"
          id="formGroupExampleInput" placeholder="amount"
          formControlName="value"
          [ngClass]="{'form-control-error': form.get('value').touched && form.get('value').errors}"
        >
        <app-form-errors *ngIf="form.get('value').touched && form.get('value').errors" field="value"  [errors]="form.get('value').errors"></app-form-errors>
      </div>
      <div class="form-group text-center">
        <button
          type="button"
          class="btn btn-info btn-md"
          routerLink="/system"
        >Back</button>
        <button
          type="submit"
          class="btn btn-success btn-md"
          [disabled]="form.invalid"
          [ladda]="isLoading"
        >Send amount</button>
      </div>
    </form>
  </div>
</div>
<app-footer></app-footer>
