<app-header></app-header>
<div class="container mt-5">
  <div class="row justify-content-center align-items-center">
    <div class="col-12 col-sm-4 col-md-3">
      <div class="card">
        <img class="card-img-top" src="../../../assets/images/megafon.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Megafone</h5>
          <p class="card-text">Here will be a text about Megafone.</p>
          <a href="#" class="btn btn-primary">Open</a>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-4 col-md-3">
      <div class="card">
        <img class="card-img-top" src="../../../assets/images/beeline.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Beeline</h5>
          <p class="card-text">Here will be a text about Beeline.</p>
          <a href="#" class="btn btn-primary">Open</a>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-4 col-md-3">
      <div class="card">
        <img class="card-img-top" src="../../../assets/images/mts.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Mts</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
          <a href="#" class="btn btn-primary">Open</a>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
